html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width,initial-scale=1.0")
    link(rel="shortcut icon" href="./src/assets/favicon.ico" type="image/x-icon")
    script(src="https://api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript")
    title Samsung
  body
    #app
