@font-face {
  font-family: 'BeauSansPro';
  font-style: normal;
  src:
  url('../fonts/BeauSans/pfbeausanspro.woff2') format('woff2'), /* Super Modern Browsers */
  url('../fonts/BeauSans/pfbeausanspro.woff') format('woff'), /* Modern Browsers */
  url('../fonts/BeauSans/pfbeausanspro.ttf') format('truetype') /* Safari, Android, iOS */
}
